/*
currently experimenting with slide-in and layout,
hardcoded pixel sizes are to be replaced with javascript-calculated styles
*/
body { 
    margin: 0; 
    padding: 0; 
/*    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAIAAACdaSOZAAAAAXNSR0IArs4c6QAAABZJREFUCNdjPHrmCgMC/GNjY2NgYAAAN00Dd2Fg5+4AAAAASUVORK5CYII="); */
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

textarea {
    width: 80%;
    font-size: 15px;
    border-radius: 10px;
  -webkit-border-radius:10px;
}

select {
    border-radius: 10px;
    font-size: 15px;
  -webkit-border-radius:10px;
}

input {
    width: 80%;
    font-size: 15px;
    border-radius: 10px;
  -webkit-border-radius:10px;
}

.hint {
    color: #f00;
}

.input {
    padding: 10px 0 10px 0;
}

#loading {
    position: absolute;
    top: -100px;
    left: 10%;
    width: 80%;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 22px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    border-radius: 8px;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}
.header {
    background-color: #6d84a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#b0bccc), to(#6d84a3));
    background: -moz-linear-gradient(top,  #b0bccc,  #6d84a3);
    border-style: outset;
    border-color: #fff;
    border-width: 1px 0px 1px 0px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    height: 22px;
    color: #fff;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) -0px -1px 2px;
}

.footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#b0bccc), to(#6d84a3));
    background: -moz-linear-gradient(top,  #b0bccc,  #6d84a3);
    border-style: outset;
    border-color: #fff;
    border-width: 1px 0px 1px 0px;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    height: 22px;
    color: #fff;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) -0px -1px 2px;
}

.button {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    border-radius: 10px;
    text-align: center;
    font: "Helvetica";
/* 
    font-size: 11pt;
    font-weight: bold; 
    color: #526595; 
    */
}

.contentbox {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    border-radius: 8px;
}

.label {
    margin-bottom: 3px;
}
.option {
    margin-left: 10px;
}
.contentend {
    height: 10px;
    margin: 0;
    padding: 0;
}
textarea {
    width: 95%;
}

#container { 
    position: relative;
    width: 100%;
    overflow: hidden; 
    margin: 0; 
    padding: 0; 
}

#prev { 
    position: relative;
    left: -100%;
    width: 100%;
    margin: 0; 
    padding: 0; 
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

#current { 
    position: relative;
    left: 0px;
    width: 100%;
    margin: 0; 
    padding: 0; 
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

#next { 
    position: relative;
    left: 100%;
    width: 100%;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}

